$base-font-family: Poppins, "Segoe UI", Arial;
$content-font-family: Alegreya, Georgia, "Times New Roman";
$dark-blue-color: #001f3f;
$text-color: #f0f8ff;
$base-font-size: 18px;
$dark-red-color: #8B0000;
$light-brown-color: #D2B48C;
$dark-pink-color: #800000;
$background-color: $dark-pink-color;
